<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Web Stocks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
</head>
<body>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a data-toggle="pill" class="nav-link active" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a data-toggle="pill" class="nav-link" href="#transactions">Transactions</a>
      </li>
      <li class="nav-item">
        <a data-toggle="pill" class="nav-link" href="{{url_for('user.logout')}}">Sign Out</a>
      </li>
    </ul>
      <div class="tab-content">
        <div id="portfolio" class="tab-pane active">
          <div class="col-md-12"><h1>Portfolio ({{user.balance}} {{user.currency_type}}) - {{ user.email }}</h1></div>
          <!-- <div class="col-md-12"><h3>{{ user.email }}</h3></div>-->
          <div class="row">
            <div class="col-md-6">
              <table id="t01" class="table">
                  <tr>
                    <th>Company</th>
                    <th>Quantity</th> 
                    <th>Latest Price ({{user.currency_type}})</th>
                    <th>Total Value ({{(user.currency_type)}})</th>
                  </tr>
                {% for holding in holdings%}
                    <tr>
                      <td>{{ holding.symbol }}</td>
                      <td>{{holding.quantity}}</td> 
                      <td>{{quotes[loop.index-1].latestPrice}}</td>
                      <td>{{quotes[loop.index-1].latestPrice * holding.quantity}}</td>
                    </tr>
                {% endfor %}
              </table>
            </div>
            <div class="col-md-6">
              <div>Make Transaction:</div>
              <form class="myForm" method="POST" enctype="application/x-www-form-urlencoded" action="/buy">
                  <p><input type="text" name="symbol" placeholder="Stock Symbol"></p>
                  <p><input type="number" name="quantity" placeholder="Quantity"></p>
                  <input type="text" style="display:none" name="render" value="True">
                  <p><button>Purchase Stock</button></p>
                  <p>{{transaction_message}}</p>
              </form>
            </div>
          </div>
      </div>

      <div id="transactions" class="tab-pane">
          <div class="col-md-12"><h1>Transactions:<h1></div>
          <table class="table">
              <tr>
                <th>Company</th>
                <th>Quantity</th> 
                <th>Price ({{user.currency_type}})</th>
                <th>Total Cost({{(user.currency_type)}})</th>
              </tr>
            {% for transaction in user.transactions%}
                <tr>
                  <td>{{ transaction.symbol }}</td>
                  <td>{{transaction.quantity}}</td> 
                  <td>{{transaction.transactionPrice}}</td>
                  <td>{{transaction.transactionPrice * transaction.quantity}}</td>
                </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
</body>
</html>